<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--SPRING CONFIGURATIONS-->
    <context:annotation-config />
    <context:component-scan base-package="com.fintech.orion.dto.* com.fintech.orion.dataabstraction.repositories.*
    com.fintech.orion.hermes.configuration.* com.fintech.orion.hermesagentservices.processor.request.processor.*" />
    <task:executor id="myexecutor" pool-size="5"  />
    <task:annotation-driven executor="myexecutor"/>

    <!--OTHER IMPORTS-->
    <import resource="spring-datasource.xml" />
    <import resource="spring-beans.xml" />
    <import resource="address-config.xml"/>
    <import resource="driving-license-config.xml"/>
    <import resource="passport-mrz-decode.xml"/>
    <import resource="document-verification-config.xml"/>

</beans>